<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Product</h1>
    <form>
            Title: <input type="text" name="current_product.title"[(ngModel)]="current_product.title"/>
            Price: <input type="text" name="current_product.price"[(ngModel)]="current_product.price"/>
            Image url: <input type="text" name="current_product.image"[(ngModel)]="current_product.image"/>
            <button (click)="editCurrent_Product()"[routerLink]="['/products']" type="button">Update</button>
    </form> 
    <button (click) ="submitDeleteProduct(current_product._id)">Delete</button>
    
</body>
</html>

